
.product-form-container {
    display: flex;
    flex-direction: row;
}

.categories-select__control {
    height: 50px;
    border-radius: 10px !important;
    border: 1px solid #E1E1E1;

}

.categories-select__indicator-separator {
    display: none;
}

.categories-select__placeholder {
    color: #9E9E9E;
 
}
@media (max-width: 1344px) {
    .admin-content {
        width: 100%;
        
    }
    .admin-base-form {
        width: auto;
        
    }
}




@media (max-width: 960px) {
    .admin-content {
        width: 100%;
      
    }
    .admin-base-form {
        width: auto;
    
    }
}

@media (max-width: 768px) {
    .admin-content {
        width: 100%;

    }
    .admin-base-form {
        width: auto;

    }
}

@media (max-width: 576px) {
    .admin-content {
        display: flex;
        flex-direction: column-reverse;
    }
    .product-form-container {
        width: 100%;
        display: flex;


    input {
        width: 250px;
    }
    .categories-select__control {
        width: 250px;
        min-width: 50px;
        height: 100%;
    }

    .input-base {
        width: 250px;

        
    }
    textarea {
        text-align: justify;
        
    }
  
  }
  .base-form-actions {
    display: flex;
    justify-content: center;
}
}