.home-container{
    margin-top: 2.0rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
   
   
}
.home-content{
    padding-top: 9%;
    padding-bottom: 9%;
    
}

.text-title{
    font-size: 3.4rem;
    line-height: 4.6rem;
    letter-spacing: -0.015em;
}

.text-subtitle{
    font-size: 1.5rem;
    line-height: 2.0rem;
    letter-spacing: -0.015em;
    color: #9E9E9E;
    margin-top: 1.6rem; 
    margin-bottom: 10%;
}

.home-text{
    padding-left: 100px;
}

.main-image{
    max-width: 100%;
    height: auto;
}